@use "../../styles/partials/" as *;

.score-section {
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  font-family: "Lucida Console", "Courier New", monospace;
  font-weight: 400;
  letter-spacing: 0.25rem;
  font-size: 3rem;
  text-align: center;
  padding-top: 12rem;
  padding-bottom: 4rem;
  overflow: hidden;
  white-space: nowrap;
  margin: 0 auto;
  letter-spacing: 0.2rem;
  animation: typing 5s steps(50, end), blink-caret 1.5s step-end infinite;

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
}

.quiz {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 3rem;
  .question-card {
    background-color: $color-white;
    border-radius: 1.1rem 1.1rem 1rem 1rem;
    height: auto;
    width: 40%;
    max-width: 50%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__wrapper-header {
      background-color: $color-black;
      border-radius: 1rem 1rem 0 0;
      padding: 1.5rem;
      .card__number {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
      }
    }

    &__wrapper-content {
      margin: 2rem 1.5rem 0;
      .meme-wrapper {
        width: 100%;
        height: auto;
        padding-bottom: 2rem;
        .meme {
          width: 100%;
          height: auto;
        }
      }

      .card__text {
        color: $color-black;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 0.1rem;
        padding-bottom: 2rem;
      }

      .card__answer {
        letter-spacing: 0.1rem;
      }
      .button-wrapper {
        .card__button {
          width: 100%;
          font-weight: 400;
          letter-spacing: 0.1rem;
          font-size: 1rem;
          height: 6rem;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 0.75rem;
          @include button2();
          margin: 0 0 1.5rem;

          .circle {
            height: 1rem;
            width: auto;
          }
          .answer {
            width: 100%;
          }
        }

        .answer__button--color:hover {
          background-color: $color-blue;
          transition: 0.3s;
          font-weight: 700;
        }
        .answer__button--correct:active {
          background-color: $color-green;

          transition: 0.3s;
          font-weight: 700;
        }
        .answer__button--incorrect:active {
          background-color: $color-pink;
          transition: 0.3s;
          font-weight: 700;
        }
      }
    }
  }
}
