@use "../../styles/partials/" as *;

.quiz {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 2rem;
  .question-card {
    background-color: $color-white;
    height: auto;
    width: 40%;
    max-width: 50%;
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__wrapper-header {
      background-color: $color-black;
      padding: 1rem;
      .card__number {
        font-size: 1rem;
        font-weight: 400;
        letter-spacing: 0.1rem;
      }
    }

    &__wrapper-content {
      margin: 1rem;
      .card__text {
        color: $color-black;
        font-size: 1rem;
        font-weight: 700;
        letter-spacing: 0.1rem;

        padding-bottom: 1rem;
      }

      .card__answer {
        letter-spacing: 0.1rem;
      }
      .button-wrapper {
        .card__button {
          width: 100%;
          font-weight: 400;
          letter-spacing: 0.1rem;
          font-size: 1rem;
          ::before {
            .circle {
              background-color: $color-purple;
              width: 2rem;
              height: 2rem;
            }
          }
        }
      }
    }
  }
}
