@use "../../styles/partials/" as *;

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 4rem;

  &__description {
    font-family: "Lucida Console", "Courier New", monospace;
    font-weight: 400;
    letter-spacing: 0.25rem;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 4rem;
  }

  .typewriter {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 auto;
    letter-spacing: 0.2rem;
    animation: typing 5s steps(50, end), blink-caret 1.5s step-end infinite;
  }

  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }

  &__logo {
    width: 20%;
    height: auto;
    padding-bottom: 4rem;
    .logo {
      transition: transform 0.2s ease-in;

      &:hover {
        transform: rotate(20deg);
        z-index: -1;
      }
    }
  }

  .button-wrapper {
    width: 35%;
    .home__button {
      @include button;
      width: 100%;
      font-weight: 400;
      letter-spacing: 0.25rem;
      font-size: 1rem;

      &:active {
        background-color: $color-black;
        color: $color-green;
      }
    }
  }
}
